<p-fluid>


    <form class="flex" [formGroup]="formGroup" (ngSubmit)="edit?editarEspecialidad():registrarEspecialidad(f)" #f="ngForm">
    <div class="card flex flex-col gap-6 w-full">
        @if (edit) {
            <div class="font-semibold text-xl">Actualizar Horario</div>
            
        }@else {

            <div class="font-semibold text-xl">Registrar Horario</div>
        }

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <label for="nombre">Dia de semana</label>
                        <p-select id="nombre" [options]="diasSemana" formControlName="dia_semana" appendTo="body" optionValue="value" optionLabel="label" placeholder="Select One" class="w-full"></p-select>
                    
                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                        <label>Tiempo de inicio</label>
                        <p-date-picker 
                                  formControlName="tiempo_inicio"
                                  [timeOnly]="true"
                                  hourFormat="24">
                        </p-date-picker>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <label>Tiempo de finalización</label>
                        <p-date-picker 
                                  formControlName="tiempo_final"
                                  [timeOnly]="true"
                                  hourFormat="24">
                        </p-date-picker>

                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                        <label>Duración</label>
                        <p-date-picker 
                                  formControlName="duracion_cita"
                                  [timeOnly]="true"
                                  hourFormat="24">
                        </p-date-picker>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="nombre">Medico</label>
                        <p-select id="nombre" [options]="medicos" formControlName="medico_id" appendTo="body" optionValue="id" optionLabel="user.name" placeholder="Select One" class="w-full"></p-select>

                    </div>
                </div>

                <p-button type="submit" label="{{edit?'Editar':'Registrar'}}" raised />

                
            </div>
            </form>

</p-fluid>
<p-toast></p-toast>
